<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1,maximum-scale=1.0">
  <link rel="stylesheet" href="https://sdk.herewhite.com/white-web-sdk/2.9.0.css">
  <script src="https://sdk.herewhite.com/white-web-sdk/2.9.0.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.8/lib/index.css" />
</head>

<style>
  .videoBox,
  .video-placeholder {
    width: 480px;
    height: 320px;
    position: relative;
  }
  .chatBox {
    padding: 10px 16px;
  }

  .chatItem p {
    margin: 0;
  }
</style>

<body>
  <div id="app">
    <van-field v-model="option.channel" label="房间ID" placeholder="请输入房间ID">
      <template #button>
        <van-button size="mini" type="primary" @click="changeIdentify">{{myRoom?'主播':'游客'}}</van-button>
        <!-- <van-button size="mini" type="primary" @click="createRoom">创建</van-button> -->
        <van-button size="mini" type="primary" @click="joinRoom">加入</van-button>
        <van-button size="mini" type="primary" @click="exitRoom">退出</van-button>
      </template>
    </van-field>
    <van-field v-model="message" placeholder="请输入要发送的内容">
      <template #button>
        <van-button size="mini" type="primary" @click="sendMessage">发送</van-button>
      </template>
    </van-field>
    <div class="chatBox">
      <div class="chatItem" v-for="(item, index) in records" :key="index">
        <p>{{item.account}} 说：{{item.text}}</p>
      </div>
    </div>
    <div id="video">
      <div class="videoBox">
        <div id="local_stream" class="video-placeholder"></div>
        <div id="local_video_info" class="video-profile hide"></div>
        <div id="video_autoplay_local" class="autoplay-fallback hide"></div>
      </div>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.8/lib/vant.min.js"></script>
<script src="https://cdn.agora.io/sdk/release/AgoraRTCSDK-3.1.0.js"></script>
<script src="http://39.105.45.130:8650/weapp/fortelement/js/agora-rtm-sdk-1.2.2.js"></script>
<script>
  new Vue({
    el: '#app',
    data: () => {
      return {
        IMClient: '',
        IMChannel: null,
        message: '',
        myRoom: false,
        records: [],
        joinIM: false,
        rtc: {
          client: null,
          joined: false,
          published: false,
          localStream: null,
          remoteStreams: [],
          params: {}
        },
        option: {
          appID: "cdef65f8639b49b4900cd8c1270bd0a8",
          channel: "demo",
          uid: 'testUid',
          token: null
        },
      }
    },
    mounted() {
      console.log(AgoraRTM)
      this.initRTM();
    },
    methods: {
      initRTM() {
        this.IMClient = AgoraRTM.createInstance(this.option.appID);
        this.IMClient.on('ConnectionStateChanged', (newState, reason) => {
          console.log('on connection state changed to ' + newState + ' reason: ' + reason);
        });
      },
      RTMLogin(callback) {
        this.IMClient.login({ token: this.option.token, uid: this.option.uid }).then(() => {
          console.log('AgoraRTM client login success');
          callback();
        }).catch(error => {
          console.log('AgoraRTM client login failure', error);
        });
      },
      RTMLogout() {
        this.IMClient.logout();
      },
      joinRoomFromList(item) {
      },
      getRoomList() {
      },
      createRoom() {
        // this.joinRoom();
      },
      joinRoom() {
        this.RTMLogin(() => {
          this.IMChannel = this.IMClient.createChannel('changeToRoomId');
          this.IMChannel.join().then(() => {
            this.joinIM = true;
            /* 加入频道成功的处理逻辑 */
            console.log('join channel success');
            this.IMChannel.on('ChannelMessage', ({ text }, senderId) => { // text 为收到的频道消息文本，senderId 为发送方的 User ID
              /* 收到频道消息的处理逻辑 */
              console.log('Got a channel message from' + senderId + ': ' + text);
              let tmp = [{
                account: senderId,
                text
              }, ...this.records];
              this.records = tmp;
            });
          }).catch(error => {
            /* 加入频道失败的处理逻辑 */
            console.log('join channel failed', error);
          });
        });
      },
      sendMessage() {
        this.IMChannel.sendMessage({ text: this.message }).then(() => {
          /* 频道消息发送成功的处理逻辑 */
          console.log('send message success');
          console.log('you sent a message: ' + this.message);
        }).catch(error => {
          /* 频道消息发送失败的处理逻辑 */
          console.log('send message failed', error);
        });
      },
      changeIdentify() {
        this.myRoom = !this.myRoom;
        this.exitRoom();
        this.joinRoom();
      },
      exitRoom() {
        this.RTMLogout();
      },
    }
  });
</script>

</html>